---
import '@fontsource-variable/raleway';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <div class="mx-auto space-y-8 max-w-lg my-20">
    <img src=`/emfaces.svg` alt="EmFaces" class="w-40 mx-auto block" />
    <p class="font-raleway text-lg text-black font-bold text-left">
      EmFaces is a free collection of emoticons created by <a
        href="https://cristhgunners.github.io/"
        rel="noopener"
        class="text-pink-600 hover:underline"
        target="_blank">CristhGunners</a
      >.
    </p>
    <div
      class="relative bg-gray-100 rounded p-8 w-60 mx-auto flex flex-col items-center justify-center"
    >
      <span class="absolute -top-2 -right-2 flex h-4 w-4">
        <span
          class="animate-ping absolute inline-flex h-full w-full rounded-full bg-pink-400 opacity-75"
        ></span>
        <span class="relative inline-flex rounded-full h-4 w-4 bg-pink-500"
        ></span>
      </span>
      <h2 class="font-raleway text-black font-bold text-xl mb-4">Emoticons</h2>
      <h3
        class="font-raleway text-white bg-pink-600 p-2 rounded font-bold text-3xl"
      >
        24
      </h3>
    </div>
  </div>
</Layout>
