---
import '@fontsource-variable/raleway';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <div class="mx-auto my-20 max-w-lg space-y-8">
    <img src=`/emfaces.svg` alt="EmFaces" class="mx-auto block w-40" />
    <p class="text-left font-raleway text-lg font-bold text-black">
      EmFaces is a free collection of emoticons created by <a
        href="https://www.cristhgunners.com/"
        rel="noopener"
        class="text-pink-600 hover:underline"
        target="_blank">CristhGunners</a
      >.
    </p>
    <div
      class="relative mx-auto flex w-60 flex-col items-center justify-center rounded bg-gray-100 p-8"
    >
      <span class="absolute -right-2 -top-2 flex h-4 w-4">
        <span
          class="absolute inline-flex h-full w-full animate-ping rounded-full bg-pink-400 opacity-75"
        ></span>
        <span class="relative inline-flex h-4 w-4 rounded-full bg-pink-500"
        ></span>
      </span>
      <h2 class="mb-4 font-raleway text-xl font-bold text-black">Emoticons</h2>
      <h3
        class="rounded bg-pink-600 p-2 font-raleway text-3xl font-bold text-white"
      >
        24
      </h3>
    </div>
  </div>
</Layout>
