---
import Emoticon from '../components/Emoticon.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Emoticons">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 rounded overflow-hidden"
  >
    <Emoticon name="Surprise" bgColor="bg-surprise" filename="surprise" />
    <Emoticon name="Favorite" bgColor="bg-favorite" filename="favorite" />
    <Emoticon name="Love" bgColor="bg-love" filename="love" />
    <Emoticon name="Angry" bgColor="bg-angry" filename="angry" />
    <Emoticon name="Haha" bgColor="bg-haha" filename="haha" />
    <Emoticon name="Sad" bgColor="bg-sad" filename="sad" />
    <Emoticon name="Hisoka" bgColor="bg-hisoka" filename="hisoka" />
    <Emoticon name="Party" bgColor="bg-party" filename="party" />
    <Emoticon name="Deadpool" bgColor="bg-deadpool" filename="deadpool" />
    <Emoticon name="Bear" bgColor="bg-bear" filename="bear" />
    <Emoticon name="Dollar" bgColor="bg-dollar" filename="dollar" />
    <Emoticon name="Bitcoin" bgColor="bg-bitcoin" filename="bitcoin" />
    <Emoticon name="Poison" bgColor="bg-poison" filename="poison" />
    <Emoticon name="Page Not Found" bgColor="bg-404" filename="404" />
    <Emoticon name="Dribbble" bgColor="bg-dribbble" filename="dribbble" />
    <Emoticon name="Ditto" bgColor="bg-ditto" filename="ditto" />
    <Emoticon name="Candy" bgColor="bg-candy" filename="candy" />
    <Emoticon name="Wink" bgColor="bg-wink" filename="wink" />
    <Emoticon name="Orca" bgColor="bg-orca" filename="orca" />
    <Emoticon name="Monstruo" bgColor="bg-monstruo" filename="monstruo" />
    <Emoticon name="Moon" bgColor="bg-moon" filename="moon" />
    <Emoticon name="T-800" bgColor="bg-t-800" filename="t-800" />
    <Emoticon name="Sleep" bgColor="bg-sleep" filename="sleep" />
    <Emoticon name="Sick" bgColor="bg-sick" filename="sick" />
  </div>
</Layout>
