---
import '@fontsource-variable/raleway';
import '@fontsource/pattaya';

interface Props {}

const {} = Astro.props;
---

<footer class="flex flex-col items-center justify-center space-y-2 py-4">
  <p class="block text-center font-raleway font-bold">
    This work is licensed under <a
      href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1"
      target="_blank"
      rel="license noopener noreferrer"
      style="display:inline-block;"
      class="hover:text-pink-600"
      >Attribution 4.0 International<img
        style="height:22px!important;margin-left:3px;vertical-align:text-bottom;display:inline-block;"
        alt="CC"
        src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
      /><img
        style="height:22px!important;margin-left:3px;vertical-align:text-bottom;display:inline-block;"
        alt="By"
        src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
      /></a
    >
  </p>
  <h2>
    <a
      href="https://cristhgunners.github.io/EmFaces/"
      class=`font-pattaya text-2xl text-gray-300 hover:text-pink-600`>EmFaces</a
    >
  </h2>
  <span class="block font-raleway font-bold text-gray-300"
    >{new Date().getFullYear()}</span
  >
  <a
    href="https://www.cristhgunners.com/"
    rel="noopener"
    target="_blank"
    class="block font-raleway font-bold text-gray-300 hover:text-pink-600"
    >CristhGunners</a
  >
</footer>
